<IfModule mod_headers.c>
    # Content Security Policy (CSP)



    # X-Frame-Options
    Header set X-Frame-Options "DENY"



    # X-Content-Type-Options
    Header set X-Content-Type-Options "nosniff"

    # Referrer-Policy
    Header set Referrer-Policy "no-referrer-when-downgrade"

    # Permissions-Policy
    Header set Permissions-Policy "geolocation=(self), microphone=(), camera=(), payment=()"
</IfModule>
